@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
}

#list {
    text-align: center;
    width: 601px;
    min-height: 601px;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 15px;
    border: .1px solid darkgray;
    height: 200px;
    width: 200px; 
    float: left;
    position: relative;
}

.shape-container {
    position: relative;
    height: 136px;
}

.shape {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid darkgray;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.info {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

