@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $grey-darker;
}

#list {
    text-align: center;
    width: 600px;
    min-height: 600px;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 15px;
    border: 1px solid $primary;
    height: 200px;
    width: 200px; 
    float: left;
    position: relative;
}

.shape-container {
    position: relative;
    height: 125px;
}

.shape {
    margin: 0 auto;
    border: .5px solid $primary;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

object {
    height: 60px;
    width: 90px;
}

.info {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    color: $primary;
}

